{% extends 'layouts.html' %}
{% load static %}
{% block title %}
    Attendance System
{% endblock %}
{% block content %}
    <div class="mid-sec">
        <div class="container">
            {% if user.is_authenticated %}
                <a href= "{%url 'home'%}" class="join">Home</a>
            {%else%}
                <a href= "{%url 'signup'%}" class="join">Join As A Teacher</a>
                <a href="{%url 'signup'%}" class="join">Join As A Student</a>
            {%endif%}
            
        </div>
    </div>
{% endblock %}
